<header></header>
<h1>Научный поиск</h1>
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Что искать:
      <input formControlName="q">
    </label>
  </div>
  <button type="submit">Искать</button>
</form>

<div *ngIf="items">
  <ng-template ngFor let-item [ngForOf]="items">
    <h2 [routerLink]="item.link">{{item.title}}</h2>
    <p>{{item.description}}</p>
  </ng-template>
</div>

<div *ngIf="!items">
  Не стесняйся, введи что-нибудь
</div>
<p>Form value: {{ searchForm.value | json }}</p>
<p>Form status: {{ searchForm.status | json }}</p>
<footer></footer>
