<div class="card__head" [style.background-image]="sanitizeImage(preview.image)">
  <span [routerLink]="extractLink(preview.link)" class="lecture__play"></span>
</div>
<div class="card__statistics">
  <span class="card__statistics-views">{{preview.video_views}}</span>
  <span class="card__statistics-shares">{{preview.shares}}</span>
</div>
<div class="card__body">
  <h2 class="card__title">{{preview.title}}</h2>
  <div class="card__author">
    <div class="card__author-img">
      <img width="40" [src]="preview.authors[0].image" [alt]="preview.authors[0].title">
    </div>
    <p class="card__author-text">{{preview.authors[0].title}}</p>
  </div>
</div>
