<div>
  <ul>
    <li><a routerLink="/">Постнаука</a></li>
    <li><a routerLink="/video">Видео</a></li>
    <li><a routerLink="/tv">ТВ</a></li>
    <li><a routerLink="/events">События</a></li>
    <li><a routerLink="/talks">Беседы</a></li>
    <li><a routerLink="/tests">Игры</a></li>
    <li><a routerLink="/books">Книги</a></li>
    <li><a routerLink="/animate">Анимация</a></li>
    <li><a routerLink="/themes">Теги</a></li>
    <li><a routerLink="/authors">Авторы</a></li>
  </ul>
</div>
<div>
   <a routerLink="/search">Поиск</a>
</div>
