<div class="card__head">
  <h2 class="card__title">{{preview.title}}</h2>
</div>
<div class="card__body">
  <div class="card__author">
    <div class="card__author-img">
      <img width="40" [src]="preview.authors[0].image" [alt]="preview.authors[0].title">
    </div>
    <p class="card__author-text">{{preview.authors[0].title}}</p>
  </div>
</div>
