<div class="card__head">
  <a *ngIf="preview.category" [routerLink]="preview.category[0].link" class="card__tag">
    {{preview.category[0].title}}
  </a>
</div>
<div class="card__body">
  <h2 class="card__title">{{preview.title}}</h2>
  <p class="card__description">{{preview.description}}</p>
</div>
