<div class="card__head">
  <img [src]="preview.image" [alt]="preview.title" class="card__theme-img">
</div>
<div class="card__body">
  <h2 class="card__title">{{preview.title}}</h2>
  <p class="card__materials">{{preview.count}} материалов</p>
</div>
