<div class="card__head">
  <span class="card__tag">
    Событие
  </span>
  <div class="card__date">
    <span class="card__date-num">05</span>
    <p class="card__date-month">Апреля<br/>2018</p>
  </div>
</div>
<div class="card__body">
  <h2 class="card__title">{{preview.title}}</h2>
</div>
