<div class="card__head">
  <p class="list__text">Что читать</p>
  <h2 class="card__title">{{preview.title}}</h2>
</div>
<div class="card__body">
  <img [src]="preview.image" width="200" [alt]="preview.title" class="list__img">
</div>
