<header></header>
<div class="wrapper" *ngIf="post">
  <img [src]="post.image" [title]="post.title">
  <h1>{{post.title}}</h1>
  <p>{{post.description}}</p>

  <grid [items]="post.authors"></grid>
  <grid [items]="post.themes"></grid>
</div>
<footer></footer>
