<header></header>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Емеил</label>
    <input type="email" formControlName="email" id="email" placeholder="Введите емеил">
  </div>
  <div>
    <label for="password">Пароль</label>
    <input type="password" formControlName="password" id="password" placeholder="Ваш пароль">
  </div>
  <button type="submit">Войти</button>
</form>
