<div class="wrapper">
  <ng-template ngFor let-item [ngForOf]="items">
    <preview-standard
      *ngIf="isStandard(item)"
      class="card article"
      [style.background-image]="sanitizeCssImage(item.image)"
      [preview]="item"
      [routerLink]="extractLink(item.link)"></preview-standard>

    <preview-video
      *ngIf="isVideo(item)"
      class="card lecture lecture_big"
      [style.background-image]="sanitizeCssImage(item.image)"
      [preview]="item"></preview-video>

    <preview-event
      *ngIf="isEvent(item)"
      class="card event event_gray"
      [style.background-image]="sanitizeCssImage(item.image)"
      [preview]="item"
      [routerLink]="extractLink(item.link)"></preview-event>

    <preview-game
      *ngIf="isGame(item)"
      class="card test"
      [preview]="item"
      [routerLink]="extractLink(item.link)"></preview-game>

    <preview-talk
      *ngIf="isTalk(item)"
      class="card qa"
      [style.background]="'#15ac60'"
      [preview]="item"
      [routerLink]="extractLink(item.link)"></preview-talk>

    <preview-book
      *ngIf="isBook(item)"
      class="card list list_text"
      [style.background]="'radial-gradient(circle at 50%, #3858a2,#1a2b52 80%)'"
      [preview]="item"
      [routerLink]="extractLink(item.link)"></preview-book>

    <preview-animate
      *ngIf="isAnimate(item)"
      class="card video"
      [style.background-image]="sanitizeCssImage(item.image)"
      [preview]="item"
      [routerLink]="extractLink(item.link)"></preview-animate>

    <preview-author
      *ngIf="isAuthor(item)"
      class="card author"
      [style.background]="'#ffd82d'"
      [preview]="item"
      [routerLink]="extractLink(extractAuthorLink(item.link))"></preview-author>

    <preview-theme
      *ngIf="isTheme(item)"
      class="card theme"
      [style.background]="'linear-gradient(45deg, #276965, #39dacf)'"
      [preview]="item"
      [routerLink]="extractLink(item.link)"></preview-theme>

    <preview-tv
      *ngIf="isTv(item)"
      class="card lecture lecture_with-auth"
      [preview]="item"
      [routerLink]="extractLink(item.link)"></preview-tv>
  </ng-template>
</div>
