<div class="card__head">
  <span href="#" class="lecture__play"></span>
</div>
<div class="card__statistics">
  <span class="card__statistics-views">{{preview.video_views}}</span>
  <span class="card__statistics-shares">{{preview.shares}}</span>
</div>
<div class="card__body">

  <h2 class="card__title">{{preview.title}}</h2>
  <a [routerLink]="extractLink(preview.link)" class="card__button">Смотреть</a>
</div>
