<div class="card__head" [style.background-image]="sanitizeImage(preview.image)">
</div>
<div class="card__body">
  <h2 class="card__title">{{preview.title}}</h2>
  <a [routerLink]="preview.link" class="card__button">Пройти тест</a>
</div>
