.wrapper
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;


.card
  width: 300px;
  height: 300px;
  display: block;
  background: #fff;
  position: relative;
  transition: .4s ease-in-out box-shadow;
  &:hover
    position: relative;
    z-index: 3;
    box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.45);


  &__head
    position: relative;
    height: 151px;
    background-size: cover;
    background-position: center center;

  &__body
    padding: 0 20px;
    position: absolute;
    bottom: 19px;
    width: 100%;

  &__statistics
    padding: 15px 20px 9px;
    color: #b0bec5;
    font-size: 1rem;
    &-views
      display: inline-block;
      margin-right: 19px;
      &::before
        display: inline-block;
        position: relative;
        margin-right: 5px;
        content: "";
        width: 10px;
        height: 10px;
        background: url("/assets/img/views.svg") center center no-repeat;


    &-shares
      &::before
        display: inline-block;
        top: 2px;
        position: relative;
        margin-right: 5px;
        content: "";
        width: 12px;
        height: 14px;
        background: url("/assets/img/shares.svg") center center no-repeat;



  &__title
    margin: 12px 0 7px;
    color: $blue;
    font-weight: 600;
    font-size: 1.71rem;
    line-height: 1;

  &__author
    margin: 13px 0 0;
    height: 40px;
    display: flex;
    align-items: center;

    &-img
      margin-right: 7px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      text-align: center;

    &-text
      color: $blue;
      font-size: 1.14rem;
      font-weight: 600;


  &__description
    color: #333333;
    font-size: 1.14rem;
    line-height: 1.2;

  &__button
    background: #e75931;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    height: 30px;
    line-height: 29px;
    padding: 0 15px;
    border-radius: 2px;
    display: inline-block;
    letter-spacing: 1px;
    transition: .4s ease-in-out background;
    &:hover
      background: #ba4212;


  &__tag
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    background-color: #fff;
    text-transform: uppercase;
    color: $orange;
    letter-spacing: 1px;
    font-size: 1rem;
    height: 30px;
    line-height: 29px;
    padding: 0 10px;
    font-weight: 600;
    border-radius: 2px;
    box-shadow: 0 3px 1px rgba(0,0,0,.1);
    transition: all .3s;
    cursor: pointer;
    &:hover
      background-color: $orange;
      color: #fff;


  &__date
    color: #fff;
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    &-num
      display: inline-block;
      margin-right: 7px;
      font-weight: 600;
      line-height: 36px;
      font-size: 3.28rem;

    &-month
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      font-size: 1rem;


  &__head-img
    position: absolute;
    left: 20px;
    top: 20px;
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;

  &__head-img-big
    display: inline-block;
    margin-top: 30px;
    border-radius: 50%;
    width: 140px;
    height: 140px;

  &__materials
    position:absolute;
    bottom: 4px;
    left: 50%;
    transform: translate(-50%);
    font-size: 1rem;
    color: #333333;

  &__progress
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    &-bar
      height: 10px;




.lecture
  &__play
    position: absolute;
    top: 126px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $orange;
    transition: all .3s;
    cursor: pointer;
    &:hover
      background-color: #ba4212;

    &::after
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      height: 16px;
      width: 16px;
      background: url("/assets/img/play.svg") 2px center no-repeat;
      background-size: auto 100%;



  &_with-descr
    .card__title
      margin-top: 5px;


  &_big
    position: relative;
    background-size: cover;
    background-position: center center;
    &::after
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: inline-block;
      width: 300px;
      height: 300px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, rgba(25, 26, 40, 0.6), rgba(25, 26, 40, 0.9));


    .card__head
      position: relative;
      z-index: 2;
      border-bottom: 1px solid #fff;
      .lecture__play
        z-index: 2;


    .card__body
      z-index: 1;

    .card__statistics
      color: #fff;
      border-top: 1px solid #fff;
      z-index: 1;
      position: relative;
      .card__statistics-views
        &::before
          background: url("/assets/img/views-white.svg") center center no-repeat;


      .card__statistics-shares
        &::before
          background: url("/assets/img/shares-white.svg") center center no-repeat;



    .card__title
      margin-bottom: 15px;
      margin-top: 2px;
      color: #fff;
      font-size: 1.57rem;
      z-index: 2;
      position: relative;




.video
  position: relative;
  background-size: cover;
  background-position: center center;
  &::after
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 300px;
    height: 300px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, rgba(25, 26, 40, 0.6), rgba(25, 26, 40, 0.9));


  &__play
    position: absolute;
    top: 126px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all .3s;
    cursor: pointer;
    &:hover
      background-color: #151349;
    &::after
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      height: 16px;
      width: 16px;
      background: url("/assets/img/play.svg") 2px center no-repeat;
      background-size: auto 100%;



  .card__head
    position: relative;
    z-index: 3;
    .video__play
      z-index: 2;


  .card__body
    z-index: 1;

  .card__statistics
    color: #fff;
    z-index: 2;
    position: relative;
    &::before,
    &::after
      position: absolute;
      z-index: 1;
      top: 0;
      content: "";
      height: 1px;
      background-color: #fff;

    &::before
      left: 0;
      width: 230px;

    &::after
      right: 0;
      width: 20px;

    .card__statistics-views
      &::before
        background: url("/assets/img/views-white.svg") center center no-repeat;


    .card__statistics-shares
      &::before
        background: url("/assets/img/shares-white.svg") center center no-repeat;



  .card__title
    margin-bottom: 10px;
    margin-top: 3px;
    color: #fff;
    font-size: 1.57rem;
    z-index: 2;
    position: relative;

  .card__description
    color: #fff;



.article
  position: relative;
  background-size: cover;
  background-position: center center;
  &::after
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 300px;
    height: 300px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, rgba(25, 26, 40, 0.6), rgba(25, 26, 40, 0.9));


  .card__head
    position: relative;
    z-index: 2;

  .card__body
    z-index: 1;

  .card__title
    margin-bottom: 8px;
    margin-top: 20px;
    color: #fff;
    z-index: 2;
    position: relative;

  .card__description
    color: #fff;



.test
  .card__head
    height: 150px;

  .card__title
    margin-top: 15px;
    margin-bottom: 11px;
    font-size: 1.57rem;
    line-height: 1.17;



.game
  position: relative;
  background-size: cover;
  background-position: center center;
  &::after
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 300px;
    height: 300px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));


  .card__head
    position: relative;
    z-index: 2;

  .card__body
    z-index: 1;

  .card__title
    margin-right: -10px;
    margin-bottom: 14px;
    margin-top: 17px;
    color: #fff;
    z-index: 2;
    position: relative;



.qa
  position: relative;
  background-size: cover;
  background-position: center center;
  &::after
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 100px;
    height: 174px;
    background: url("/assets/img/qa.png") center center no-repeat;
    opacity: .2;


  .card__head
    position: relative;
    z-index: 2;

  .card__body
    z-index: 1;

  .card__title
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    color: #fff;
    z-index: 2;
    position: relative;

  .card__author-text
    color: #fff;



.list
  position: relative;
  background-size: cover;
  background-position: center center;
  &::after
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 144px;
    height: 170px;
    background: url("/assets/img/list.png") center center no-repeat;
    opacity: .2;


  .card__head
    position: relative;
    z-index: 2;

  .card__body
    z-index: 1;

  .card__title
    margin: 20px 20px 12px;
    color: #fff;
    z-index: 2;
    position: relative;

  .card__description
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;

  .card__author-text
    color: #fff;

  .list__img
    display: inline-block;
    margin-bottom: -23px;


  &_cursive
    overflow: hidden;

    &::after
      display: none;

    .card__head
      text-align: center;

    .list__text
      font-family: 'Playfair Display', serif;
      color: #fff;
      font-size: 1.14rem;
      font-weight: bold;
      font-style: italic;
      margin: 41px 20px 11px;

    .card__title
      margin-top: 0;

    .card__body
      padding: 0;
      text-align: center;



  &_text
    overflow: hidden;

    &::after
      display: none;

    .card__head
      text-align: center;

    .list__text
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #fff;
      font-size: 1rem;
      font-weight: normal;
      margin: 25px 20px 8px;

    .card__title
      margin-top: 0;

    .card__body
      padding: 0;
      text-align: center;




.event
  position: relative;
  background-size: cover;
  background-position: center center;
  .card__title
    color: #fff;
    margin-bottom: 0;
    margin-right: -10px;


  &_gray
    .card__tag
      color: $blue;




.blog
  position: relative;
  background-size: cover;
  background-position: center center;
  border: 17px solid #fff;
  &::after
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url("/assets/img/angle.png") center center no-repeat;


  .card__head
    position: relative;
    z-index: 2;

  .card__body
    z-index: 1;

  .card__title
    margin: 20px 20px 12px;
    color: $orange;
    z-index: 2;
    position: relative;

  .card__description
    color: #000;
    margin: 0 20px 0;

  .card__blog-date
    font-size: 1rem;
    color: #343434;
    font-weight: 600;



.basic
  .card__tag
    box-shadow: none;

  .card__title
    color: #333;



.course
  text-align: center;

  .card__tag
    box-shadow: none;
    color: $blue;

  .card__progress
    background-color: #cccccc;
    &-bar
      background-color: $orange;


  .card__body
    height: 110px;
    padding: 0 10px;



.guide
  text-align: center;

  .card__tag
    box-shadow: none;
    color: #0d8016;

  .card__progress
    background-color: #ffc329;
    &-bar
      background-color: $orange;


  .card__body
    height: 110px;
    padding: 0 10px;

  .card__title
    color: #fff;

  .card__materials
    color: #fff;



.author
  text-align: center;

  .card__body
    height: 100px;
    padding: 0 10px;

  .card__title
    color: $blue;

  .card__materials
    bottom: 0;
    color: #333232;

  .card__head-img-big
    margin-top: 40px;



.partner
  text-align: center;

  .card__body
    height: 100px;
    padding: 0 10px;

  .card__title
    color: #fff;

  .card__materials
    bottom: 0;
    color: #fff;

  .card__head-img-big
    border-radius: 0;
    margin-top: 40px;



.theme
  text-align: center;

  .card__body
    height: 90px;
    padding: 0 10px;

  .card__title
    color: #fff;

  .card__materials
    bottom: 0;
    color: #fff;

  .card__theme-img
    border-radius: 0;
    width: 140px;
    height: 140px;
    margin-top: 40px;


  &_big
    .card__body
      height: 160px;





.promo
  text-align: center;

  .card__tag
    box-shadow: none;
    background: rgba(255,255,255,0);
    border: 2px solid #fff;
    color: #fff;
    line-height: 27px;
    transition: all .3s;
    cursor: pointer;
    &:hover
      background: rgba(255,255,255,1);
      color: #1644e8;


  .card__body
    bottom: 56px;
    height: 110px;
    padding: 0 24px;

  .card__title
    margin-bottom: 11px;
    color: #fff;

  .card__description
    color: #fff;


