/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600')
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i')

@import "styl/vars.styl"
@import "styl/grid.styl"


*
  box-sizing border-box
  padding 0
  margin 0


a
  text-decoration none


html
  font-size 14px
  font-family 'Source Sans Pro', sans-serif


body
  background-color #f9f8f5

button
  cursor: pointer;
  width: 100%;
  padding: .8rem 2rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: #e75931;
  border-color: #e75931;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
